* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.content {
    height: 100%;
    width: 100%;
    background-color: rgba(245, 240, 235, 0.349);
}

.header {
    height: 70px;
    width: 100%;
    background-color: rgb(240, 232, 222);
    border: 1px solid rgb(230, 189, 189);
    border-radius: 20px;
    font-size: 1.5rem;
    padding: 7px;
}

.ul1 {
    list-style-type: none;
    padding-top: 10px;
    margin: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    overflow: hidden;
}

.li1 a {
    display: block;
    color: rgb(97, 56, 56);
    text-align: center;
    text-decoration: none;
}

.li1 .team1 {
    color: rgb(122, 31, 207);
}


#started {
    background-color: rgb(188, 215, 216);
    color: rgb(88, 130, 209);
    width: 160px;
    font-size: 1.5rem;
    border-radius: 10px;
    opacity: 1;
}

.howit {
    border: hidden;
    font-size: 1.2rem;
    background-color: rgb(240, 232, 222);
    opacity: 1;
}

#teamflo {
    font-size: 2rem;
}

.produc {
    border: hidden;
    font-size: 1.2rem;
    background-color: rgb(240, 232, 222);
    opacity: 1;
}

.resor {
    border: hidden;
    font-size: 1.2rem;
    background-color: rgb(240, 232, 222);
    opacity: 1;
}

#pricing {
    opacity: 1;
}

/* #login {
    opacity: 1;
} */



.menu {
    height: 40px;
    width: 100px;
    font-size: 1.5rem;
    background-color: aquamarine;
    border-radius: 12px;
    color: blueviolet;
    opacity: 0;
}

.save_valu {
    width: 50%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 30%;
    margin-top: 7%;
    position: absolute;
}

.save {
    height: 40px;
    width: 40%;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 20px;
    position: relative;
    left: 6%;
    background-color: rgb(226, 161, 114);
    color: white;
    opacity: 1;
}

.account {
    height: 50px;
    width: 50%;
    font-size: 1.4rem;
    text-align: center;
    border: 1px solid white;
    border-radius: 20px;
    margin-right: 30px;
    color: rgb(22, 114, 119);
    background-color: rgba(240, 231, 220, 0.596);
}

.headercontant {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
}

.text1 {
    font-size: 2rem;
    text-align: center;
    width: 55%;
    margin-top: 200px;
}

.text2 {
    text-align: center;
    font-size: 1.5rem;
    width: 50%;

}

.input {
    display: flex;
    justify-content: center;
    margin-top: 40px;

}



.yourcompany {
    height: 50px;
    font-size: 35px;
    padding: 10px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;


}

.tryit {
    width: 200px;
    font-size: 1.5rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    background-color: blueviolet;

}

.tryit:hover {
    cursor: pointer;
}

.Graph1 {
    height: 650px;
    width: 70%;
    margin-left: 16%;
}

.TCompany {
    /* margin-left: 18%; */
    /* margin-right: 15%; */
    text-align: center;
    font-size: 30px;
}

.companylogo {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    text-decoration: none;
    margin: 30px 0px 100px 0px;
}

.companylogo:hover {
    cursor: pointer;
}

.timeline_team {
    height: 100%;
    width: 100%;
    background-color: rgb(212, 237, 238);
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.timeline {
    height: 500px;
    width: 50%;
    margin-top: 5%;
}

.texes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    background-color: rgb(211, 236, 236);
    margin-top: 15%;
}

.survey-contend {
    width: 415px;
    background: #f6f3fc;
    padding: 28px;
    border-left: 13px solid #794cff;
}

.survey-contend h2 {
    font-size: 24px;
    color: #050505;
}

.survey-contend p {
    font-size: 20px;
    color: #070707;
}


.resolve {
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    padding: 20px;
    background-color: rgb(211, 236, 236);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.plan {
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.easy {
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}




.make_your_work {
    height: 150px;
    width: 100%;
    text-align: center;
    font-size: 30px;
}

.make_your_work1 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 70px;
}

.fa-square-poll-vertical {
    height: 60px;
    width: 60px;
    font-size: 2rem;
    background-color: aquamarine;
    border-radius: 50%;
    color: red;
    padding: 15px;
}

.fa-newspaper {
    height: 60px;
    width: 60px;
    font-size: 2rem;
    background-color: aquamarine;
    border-radius: 50%;
    color: red;
    padding: 14px;
}

.fa-user {
    height: 60px;
    width: 60px;
    font-size: 2rem;
    background-color: aquamarine;
    border-radius: 50%;
    color: red;
    padding: 15px;
}

.team2 {
    height: 100px;
    width: 20%;
    font-size: 1rem;
}

.build {
    height: 150px;
    width: 20%;
    font-size: 1rem;
}

.quickly {
    height: 100px;
    width: 20%;
    font-size: 1rem;
}

.make_your_work2 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}

.anonymous {
    height: 100px;
    width: 20%;
    font-size: 1rem;
}

.fa-message {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    font-size: 2rem;
    background-color: aquamarine;
    color: red;
    padding: 15px;
}

.convetsation {
    height: 100px;
    width: 20%;
    font-size: 1rem;
}

.fa-code-compare {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    font-size: 2rem;
    background-color: aquamarine;
    color: red;
    padding: 15px;
}

.exclusives {
    height: 100px;
    width: 20%;
    font-size: 1rem;
}

.fa-dropbox {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    font-size: 2rem;
    background-color: aquamarine;
    color: red;
    padding: 15px;
}

.grafs {
    height: 630px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 5%;
    background-color: rgb(212, 237, 238);
    margin-bottom: 50px;
}

.graf2 {
    height: 500px;
    width: 50%;
    border: 1px solid rgb(238, 228, 228);
}



.wework1 {
    font-size: 2.5rem;
}

.we_work {
    height: 150px;
    width: 30%;
    font-size: 2rem;
}

.get_started {
    height: 70px;
    width: 270px;
    font-size: 1.5rem;
    color: white;
    border-radius: 10px;
    margin-top: 50px;
    background-color: blueviolet;
}

.customers {
    height: 150px;
    width: 45%;
    text-align: center;
    font-size: 1.4rem;
    margin-left: 28%;
    margin-top: 50px;
    margin-bottom: 170px;
}

.amazing2 {
    width: 100%;
    text-align: center;
}

.users {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    text-align: center;
    margin-bottom: 100px;
}

.user_img1 {
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.user_img2 {
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.user_img3 {
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.footer1 {
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    background-color: blueviolet;
    border-radius: 30px;
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 100px;
}

.employees {
    width: 25%;
    margin-left: 5%;
    display: flex;
    align-items: center;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.icons {
    width: 50%;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-right: 5%;
}

.icon_go {
    height: 70px;
    width: 40%;
    display: flex;
    justify-items: center;
    align-items: center;
    border: 1px solid black;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
}

.fa-google-play {
    height: 50px;
    width: 50px;
    font-size: 3rem;
    color: red;
}


.getiton {
    font-size: 0.7rem;
    color: rgb(116, 103, 88);
}

.googleplay {
    font-size: 0.9rem;
}

.icon_app {
    height: 70px;
    width: 40%;
    display: flex;
    justify-items: center;
    align-items: center;
    align-content: center;
    text-align: center;
    border: 1px solid black;
    background-color: white;
    border-radius: 20px;
}

.fa-apple {
    height: 50px;
    width: 50px;
    font-size: 3rem;
    color: red;

}



.down1 {
    font-size: 0.7rem;
    color: rgb(116, 103, 88);
}

.appstore {
    font-size: 1.2rem;
}



.footer2 {
    height: 450px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(34, 26, 26);
}

.footer_main {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.company {
    color: white;
    padding-top: 50px;
}

.suport {
    color: white;
    padding-top: 50px;
}

.legel {
    color: white;
    padding-top: 50px;
}

.install {
    color: white;
    padding-top: 50px;
}

.icon3 {
    height: 70px;
    width: 200px;
    border: 1px solid rgb(236, 217, 217);
    border-radius: 10px;
}

#play2 {
    height: 50px;
    width: 50px;
    font-size: 3.5rem;
    padding-top: 6px;
    padding-left: 10px;
    color: rgb(226, 204, 204);
}

.gopla {
    margin-top: -25%;
    margin-left: 30%;
    padding: 10px;
}

.getiton1 {
    font-size: 0.6rem;
}

.googleplay1 {
    font-size: 1.2rem;
}

.icon4 {
    height: 70px;
    width: 200px;
    border: 1px solid rgb(223, 171, 171);
    border-radius: 10px;
}

#apple2 {
    height: 50px;
    width: 50px;
    font-size: 3.5rem;
    padding-top: 2px;
    padding-left: 10px;
    color: rgb(226, 204, 204)
}

.down {
    margin-top: -25%;
    margin-left: 30%;
    padding: 10px;
    color: white;
}

.down3 {
    font-size: 0.6rem;
}

.appstore1 {
    font-size: 1.2rem;
}

.bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    color: beige;
    font-size: 1.2rem;
}

.footerhr {
    width: 100%;
    color: white;

}

.allright {
    color: rgb(248, 236, 236);

}

.social {
    color: rgb(240, 228, 228);
    font-size: 30px;

}



@media screen and (max-width:900px) {

    .header {
        height: 70px;
        width: 100%;
        background-color: rgb(240, 232, 222);
        border: 1px solid rgb(230, 189, 189);
        border-radius: 20px;
        font-size: 1rem;
        padding: 7px;
    }


}





@media screen and (max-width:800px) {
    .save {
        opacity: 0;
    }

    .account {
        display: flex;
        align-items: center;
        align-content: center;
        text-align: center;
        width: 100%;
        font-size: 1.5rem;

    }

    .menu {
        opacity: 1;
        display: flex;
        align-items: center;
        align-content: center;
        margin-bottom: 20%;
        margin-right: 20%;
    }

    #teamflo {
        display: flex;
        align-items: center;
        align-content: center;
        margin-bottom: 20%;
        margin-left: 200px;
        font-size: 2rem;
    }

    .headercontant {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        text-align: center;
    }

    .text1 {
        font-size: 2rem;
        text-align: center;
        width: 55%;
        margin-top: 200px;
    }

    .text2 {
        text-align: center;
        font-size: 1.5rem;
        width: 50%;

    }

    .input {
        display: flex;
        justify-content: center;
        margin-top: 40px;

    }

    .yourcompany {
        height: 50px;
        font-size: 1.5rem;
        padding: 10px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;


    }

    #get_started {
        opacity: 0;

    }

    .howit {
        opacity: 0;
    }

    .produc {
        opacity: 0;
    }

    .resor {
        opacity: 0;
    }

    #pricing {
        opacity: 0;
    }

    #login {
        opacity: 0;
    }

    .timeline_team {
        height: 100%;
        width: 100%;
        background-color: rgb(212, 237, 238);
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 50px;
    }

    .timeline {
        height: 500px;
        width: 50%;
        margin-top: 5%;
    }

    .texes {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: center;
        background-color: rgb(211, 236, 236);
        margin-top: 15%;
    }

    .survey {
        height: 100%;
        width: 100%;
        background-color: rgb(175, 228, 228);
        text-align: center;
        padding: 20px;
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    hr {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 5%;
    }

    .resolve {
        height: 100%;
        width: 100%;
        text-align: center;
        font-size: 1rem;
        padding: 20px;
        background-color: rgb(211, 236, 236);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .plan {
        height: 100%;
        width: 100%;
        text-align: center;
        font-size: 1rem;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .easy {
        height: 100%;
        width: 100%;
        text-align: center;
        font-size: 1rem;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .make_your_work {
        height: 150px;
        width: 100%;
        text-align: center;
        font-size: 1.5rem;
    }

    .make_your_work1 {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        margin-bottom: 70px;
    }

    .fa-square-poll-vertical {
        height: 60px;
        width: 60px;
        display: flex;
        text-align: center;
        align-content: center;
        align-items: center;
        font-size: 2rem;
        background-color: aquamarine;
        border-radius: 50%;
        color: red;
        padding: 15px;
    }

    .fa-newspaper {
        height: 60px;
        width: 60px;
        font-size: 2rem;
        background-color: aquamarine;
        border-radius: 50%;
        color: red;
        padding: 14px;
    }

    .fa-user {
        height: 60px;
        width: 60px;
        font-size: 2rem;
        background-color: aquamarine;
        border-radius: 50%;
        color: red;
        padding: 15px;
    }

    .team2 {
        height: 150px;
        width: 100%;
        text-align: center;
        font-size: 1rem;
    }

    .build {
        height: 150px;
        width: 100%;
        text-align: center;
        font-size: 1rem;
    }

    .quickly {
        height: 150px;
        width: 100%;
        text-align: center;
        font-size: 1rem;
    }

    .make_your_work2 {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        margin-bottom: 100px;
    }

    .anonymous {
        height: 150px;
        width: 100%;
        text-align: center;
        font-size: 1rem;

    }

    .fa-message {
        height: 60px;
        width: 60px;
        border-radius: 50%;
        font-size: 2rem;
        background-color: aquamarine;
        color: red;
        padding: 15px;

    }

    .convetsation {
        height: 150px;
        width: 100%;
        text-align: center;
        font-size: 1rem;

    }

    .fa-code-compare {
        height: 60px;
        width: 60px;
        border-radius: 50%;
        font-size: 2rem;
        background-color: aquamarine;
        color: red;
        padding: 15px;

    }

    .exclusives {
        height: 150px;
        width: 100%;
        text-align: center;
        font-size: 1rem;

    }

    .fa-dropbox {
        height: 60px;
        width: 60px;
        border-radius: 50%;
        font-size: 2rem;
        background-color: aquamarine;
        color: red;
        padding: 15px;

    }

    .grafs {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column-reverse;
        background-color: rgb(212, 237, 238);
        margin-bottom: 100px;

    }

    .graf2 {
        height: 100%;
        width: 100%;
        border: 1px solid rgb(238, 228, 228);

    }

    .graf2:hover {
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }

    .we_work {
        height: 300px;
        width: 100%;
        text-align: center;
        font-size: 1.2rem;

    }

    .get_started {
        height: 70px;
        width: 80%;
        font-size: 1.5rem;
        color: white;
        border-radius: 10px;
        text-align: center;
        margin-top: 30px;
        background-color: blueviolet;
    }

    .customers {
        height: 150px;
        width: 45%;
        text-align: center;
        font-size: 1.3rem;
        margin-left: 28%;
        margin-top: 10px;
        margin-bottom: 150px;
    }

    .amazing2 {
        width: 100%;
        text-align: center;

    }

    .users {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        align-content: center;
        text-align: center;
        margin-bottom: 50px;
    }

    .user_img1 {
        height: 80px;
        width: 80px;
        border-radius: 50%;

    }

    .img1,
    .img2,
    .img3 {
        margin-bottom: 50px;
    }

    .user_img2 {
        height: 80px;
        width: 80px;
        border-radius: 50%;
    }

    .user_img3 {
        height: 80px;
        width: 80px;
        border-radius: 50%;
    }

    .footer1 {
        height: 400px;
        width: 80%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        text-align: center;
        background-color: blueviolet;
        border-radius: 30px;
        font-size: 1.5rem;
    }

    .employees {
        width: 100%;
        margin-left: 0%;
        display: flex;
        align-items: center;
        text-align: center;
        align-content: center;
        color: white;
        padding-top: 20px;
    }

    .icons {
        width: 100%;
        height: 300px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        align-content: center;
        text-align: center;
        /* gap: 30px; */

    }

    .icon_go {
        height: 90px;
        width: 40%;
        border: 1px solid black;
        background-color: white;
        border-radius: 20px;
    }

    .fa-google-play {
        height: 50px;
        width: 50px;
        font-size: 3rem;
        color: red;
    }

    .goplay {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: center;
        justify-content: end;


    }

    .getiton {
        font-size: 1rem;
        color: rgb(116, 103, 88);
    }

    .googleplay {
        font-size: 1.5rem;
    }

    .icon_app {
        height: 90px;
        width: 40%;
        border: 1px solid black;
        background-color: white;
        border-radius: 20px;
    }

    .fa-apple {
        height: 50px;
        width: 50px;
        font-size: 3rem;
        color: red;

    }

    .downapp {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: center;
        justify-content: end;
        padding: 5px;
    }

    .down1 {
        font-size: 1rem;
        color: rgb(116, 103, 88);
    }

    .appstore {
        font-size: 1.5rem;
    }




    .footer2 {
        height: 450px;
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: rgb(34, 26, 26);
    }

    .footer_main {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .company {
        color: white;
        padding-top: 50px;
    }

    .suport {
        color: white;
        padding-top: 50px;
    }

    .legel {
        color: white;
        padding-top: 50px;
    }

    .install {
        color: white;
        padding-top: 50px;
    }

    .icon3 {
        height: 70px;
        width: 200px;
        border: 1px solid rgb(236, 217, 217);
        border-radius: 10px;
    }

    #play2 {
        height: 50px;
        width: 50px;
        font-size: 3.5rem;
        padding-top: 6px;
        padding-left: 10px;
        color: rgb(226, 204, 204);
    }

    .gopla {
        margin-top: -25%;
        margin-left: 30%;
        padding: 10px;
    }

    .getiton1 {
        font-size: 0.6rem;
    }

    .googleplay1 {
        font-size: 1.2rem;
    }

    .icon4 {
        height: 70px;
        width: 200px;
        border: 1px solid rgb(223, 171, 171);
        border-radius: 10px;
    }

    #apple2 {
        height: 50px;
        width: 50px;
        font-size: 3.5rem;
        padding-top: 2px;
        padding-left: 10px;
        color: rgb(226, 204, 204)
    }

    .down {
        margin-top: -25%;
        margin-left: 30%;
        padding: 10px;
        color: white;
    }

    .down3 {
        font-size: 0.6rem;
    }

    .appstore1 {
        font-size: 1.2rem;
    }

    .bottom {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    h2 {
        font-size: 1.8rem;
    }

    h3 {
        color: beige;
        font-size: 1.2rem;
    }

    .footerhr {
        width: 100%;
        color: white;
    }

    .allright {
        color: rgb(248, 236, 236);
    }

    .twitter {
        color: rgb(240, 228, 228);
        font-size: 2rem;

    }


}

@media screen and (max-width:700px) {

    .menu {
        opacity: 1;
        display: flex;
        align-items: center;
        align-content: center;
        margin-bottom: 20%;
        margin-left: -200px;
        margin-right: 800px;
    }

    #teamflo {
        display: flex;
        align-items: center;
        align-content: center;
        margin-bottom: 20%;
        margin-left: 900px;
    }

    .account {
        display: flex;
        align-items: center;
        align-content: center;
        text-align: center;
        width: 100%;
        font-size: 1rem;

    }

    .headercontant {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        text-align: center;
    }

    .text1 {
        font-size: 1.5rem;
        text-align: center;
        width: 55%;
        margin-top: 200px;
    }

    .text2 {
        text-align: center;
        font-size: 1.5rem;
        width: 50%;

    }

    .input {
        display: flex;
        justify-content: center;
        margin-top: 40px;

    }

    .yourcompany {
        height: 50px;

        font-size: 1.5rem;
        padding: 10px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .ul2 {
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        text-decoration: none;
        column-gap: 3%;
        margin: 30px 0px 100px 0px;
    }

    .ul2 a {
        text-decoration: none;
        text-align: center;
        font-size: 1.8rem;
        display: flex;
        overflow: hidden;
        color: rgb(176, 115, 233);
    }

    .timeline_team {
        height: 100%;
        width: 100%;
        background-color: rgb(212, 237, 238);
        display: flex;
        flex-direction: column;

        margin-bottom: 50px;
    }

    .timeline {
        height: 100%;
        width: 100%;
        margin-top: 5%;
    }

    .texes {
        display: flex;
        flex-direction: column;

        text-align: center;
        align-content: center;
        background-color: rgb(211, 236, 236);
        margin-top: 15%;
    }

    .survey {
        height: 100%;
        width: 100%;
        background-color: rgb(175, 228, 228);
        text-align: center;
        padding: 20px;
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    hr {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 5%;
    }

    .resolve {
        height: 100%;
        width: 100%;
        text-align: center;
        font-size: 1rem;
        padding: 20px;
        background-color: rgb(211, 236, 236);
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .plan {
        height: 100%;
        width: 100%;
        text-align: center;
        font-size: 1rem;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .easy {
        height: 100%;
        width: 100%;
        text-align: center;
        font-size: 1rem;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .customers {
        height: 150px;
        width: 45%;
        text-align: center;
        font-size: 1.2rem;
        margin-left: 28%;
        margin-top: 10px;
        margin-bottom: 150px;
    }

    .amazing2 {
        width: 100%;
        text-align: center;

    }

    .footer1 {
        height: 400px;
        width: 80%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        text-align: center;
        background-color: blueviolet;
        border-radius: 30px;
        font-size: 1.5rem;
    }

    .employees {
        width: 100%;
        margin-left: 0%;
        display: flex;
        align-items: center;
        text-align: center;
        align-content: center;
        color: white;
        padding-top: 20px;
    }

    .icons {
        width: 100%;
        height: 300px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        align-content: center;
        text-align: center;


    }

    .icon_go {
        height: 90px;
        width: 40%;
        border: 1px solid black;
        background-color: white;
        border-radius: 20px;
    }

    .fa-google-play {
        height: 50px;
        width: 50px;
        font-size: 3rem;
        color: red;
    }

    .goplay {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: center;
        justify-content: end;


    }

    .getiton {
        font-size: 1rem;
        color: rgb(116, 103, 88);
    }

    .googleplay {
        font-size: 1.5rem;
    }

    .icon_app {
        height: 90px;
        width: 40%;
        border: 1px solid black;
        background-color: white;
        border-radius: 20px;
    }

    .fa-apple {
        height: 50px;
        width: 50px;
        font-size: 3rem;
        color: red;

    }

    .downapp {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: center;
        justify-content: end;
        padding: 5px;
    }

    .down1 {
        font-size: 1rem;
        color: rgb(116, 103, 88);
    }

    .appstore {
        font-size: 1.5rem;
    }

    .footer2 {
        height: 450px;
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: rgb(34, 26, 26);
    }

    .footer_main {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .company {
        color: white;
        padding-top: 50px;
    }

    .suport {
        color: white;
        padding-top: 50px;
    }

    .legel {
        color: white;
        padding-top: 50px;
    }

    .install {
        color: white;
        padding-top: 50px;
    }

    .icon3 {
        height: 70px;
        width: 200px;
        border: 1px solid rgb(236, 217, 217);
        border-radius: 10px;
    }

    #play2 {
        height: 50px;
        width: 50px;
        font-size: 3.5rem;
        padding-top: 6px;
        padding-left: 10px;
        color: rgb(226, 204, 204);
    }

    .gopla {
        margin-top: -25%;
        margin-left: 30%;
        padding: 10px;
    }

    .getiton1 {
        font-size: 0.6rem;
    }

    .googleplay1 {
        font-size: 1.2rem;
    }

    .icon4 {
        height: 70px;
        width: 200px;
        border: 1px solid rgb(223, 171, 171);
        border-radius: 10px;
    }

    #apple2 {
        height: 50px;
        width: 50px;
        font-size: 3.5rem;
        padding-top: 2px;
        padding-left: 10px;
        color: rgb(226, 204, 204)
    }

    .down {
        margin-top: -25%;
        margin-left: 30%;
        padding: 10px;
        color: white;
    }

    .down3 {
        font-size: 0.6rem;
    }

    .appstore1 {
        font-size: 1.2rem;
    }

    .bottom {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    h2 {
        font-size: 1.8rem;
    }

    h3 {
        color: beige;
        font-size: 1.2rem;
    }

    .footerhr {
        width: 100%;
        color: white;
    }

    .allright {
        color: rgb(248, 236, 236);
    }

    .twitter {
        color: rgb(240, 228, 228);
        font-size: 2rem;

    }
}



@media screen and (max-width:600px) {

    .menu {
        opacity: 1;
        display: flex;
        align-items: center;
        align-content: center;
        margin-bottom: 20%;
        margin-right: 450px;
    }

    #teamflo {
        display: flex;
        align-items: center;
        align-content: center;
        margin-bottom: 20%;
        margin-left: 500px;
    }

    .account {
        width: 100%;
        font-size: 1rem;

    }

    .headercontant {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        text-align: center;
    }

    .text1 {
        font-size: 1.4rem;
        text-align: center;
        width: 55%;
        margin-top: 200px;
    }

    .text2 {
        text-align: center;
        font-size: 1.5rem;
        width: 50%;

    }

    .input {
        display: flex;
        justify-content: center;
        flex-direction: column;
        row-gap: 30px;
        margin-top: 40px;

    }

    .yourcompany {
        height: 50px;
        font-size: 1.5rem;
        padding: 10px;
        border-radius: 10px;

    }

    .tryit {
        width: 400px;
        height: 50px;
        font-size: 1.5rem;
        border-radius: 10px;
        color: white;
        background-color: blueviolet;

    }

    .customers {
        height: 150px;
        width: 45%;
        text-align: center;
        font-size: 1rem;
        margin-left: 28%;
        margin-top: 10px;
        margin-bottom: 150px;
    }

    .amazing2 {
        width: 100%;
        text-align: center;

    }


    .footer1 {
        height: 400px;
        width: 80%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        text-align: center;
        background-color: blueviolet;
        border-radius: 30px;
        font-size: 1.5rem;
    }

    .employees {
        width: 100%;
        margin-left: 0%;
        display: flex;
        align-items: center;
        text-align: center;
        align-content: center;
        color: white;
        padding-top: 20px;
    }

    .icons {
        width: 100%;
        height: 300px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        align-content: center;
        text-align: center;


    }

    .icon_go {
        height: 90px;
        width: 50%;
        border: 1px solid black;
        background-color: white;
        border-radius: 20px;
    }

    .fa-google-play {
        height: 50px;
        width: 50px;
        font-size: 3rem;
        color: red;
    }

    .goplay {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: center;
        justify-content: end;


    }

    .getiton {
        font-size: 1rem;
        color: rgb(116, 103, 88);
    }

    .googleplay {
        font-size: 1.5rem;
    }

    .icon_app {
        height: 90px;
        width: 50%;
        border: 1px solid black;
        background-color: white;
        border-radius: 20px;
    }

    .fa-apple {
        height: 50px;
        width: 50px;
        font-size: 3rem;
        color: red;

    }

    .downapp {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: center;
        justify-content: end;
        padding: 5px;
    }

    .down1 {
        font-size: 1rem;
        color: rgb(116, 103, 88);
    }

    .appstore {
        font-size: 1.5rem;
    }

    .footer2 {
        height: 550px;
        width: 100%;
        display: flex;

        background-color: rgb(34, 26, 26);
    }

    .footer_main {
        height: 500px;
        display: flex;
        justify-content: space-around;

        align-items: center;
    }

    .company {
        color: white;
        padding-top: 50px;

    }

    .com2 {

        font-size: 1rem;
    }

    .com1 {
        font-size: 1.2rem;
    }

    .suport {
        color: white;

    }

    .legel {
        color: white;

    }

    .install {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        color: white;

    }

    .icon3 {
        height: 70px;
        width: 200px;
        border: 1px solid rgb(236, 217, 217);
        border-radius: 10px;
    }

    #play2 {
        height: 50px;
        width: 50px;
        font-size: 3.5rem;
        padding-top: 6px;
        padding-left: 10px;
        color: rgb(226, 204, 204);
    }

    .gopla {
        margin-top: -25%;
        margin-left: 30%;
        padding: 10px;
    }

    .getiton1 {
        font-size: 0.6rem;
    }

    .googleplay1 {
        font-size: 1.2rem;
    }

    .icon4 {
        height: 70px;
        width: 200px;
        border: 1px solid rgb(223, 171, 171);
        border-radius: 10px;
    }

    #apple2 {
        height: 50px;
        width: 50px;
        font-size: 3.5rem;
        padding-top: 2px;
        padding-left: 10px;
        color: rgb(226, 204, 204)
    }

    .down {
        margin-top: -25%;
        margin-left: 30%;
        padding: 10px;
        color: white;
    }

    .down3 {
        font-size: 0.6rem;
    }

    .appstore1 {
        font-size: 1.2rem;
    }

    .bottom {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    h2 {
        font-size: 1.8rem;
    }

    h3 {
        color: beige;
        font-size: 1.2rem;
    }

    .footerhr {
        width: 100%;
        color: white;
    }

    .allright {
        color: rgb(248, 236, 236);
    }

    .twitter {
        color: rgb(240, 228, 228);
        font-size: 2rem;

    }


}

@media screen and (max-width:500px) {

    .menu {
        opacity: 1;
        display: flex;
        align-items: center;
        align-content: center;
        margin-bottom: 20%;
        margin-left: -200px;
        margin-right: 500px;
    }

    #teamflo {
        display: flex;
        align-items: center;
        align-content: center;
        margin-bottom: 20%;
        margin-right: -200px;
    }

    .headercontant {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        text-align: center;
    }

    .text1 {
        font-size: 1.2rem;
        text-align: center;
        width: 55%;
        margin-top: 200px;
    }

    .text2 {
        text-align: center;
        font-size: 1.5rem;
        width: 50%;

    }

    .input {
        display: flex;
        justify-content: center;
        flex-direction: column;
        row-gap: 30px;
        margin-top: 40px;

    }

    .yourcompany {
        height: 50px;
        font-size: 1.5rem;
        padding: 10px;
        border-radius: 10px;

    }

    .tryit {
        width: 400px;
        height: 50px;
        font-size: 1.5rem;
        border-radius: 10px;
        color: white;
        background-color: blueviolet;

    }

    .customers {
        height: 150px;
        width: 45%;
        text-align: center;
        font-size: 0.8rem;
        margin-left: 28%;
        margin-top: 10px;
        margin-bottom: 150px;
    }

    .amazing2 {
        width: 100%;
        text-align: center;

    }

    .ul2 {
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        text-decoration: none;
        column-gap: 3%;
        margin: 30px 0px 100px 0px;
        margin-left: 70px;
    }

    .ul2 a {
        text-decoration: none;
        text-align: center;
        font-size: 1.5rem;
        display: flex;
        overflow: hidden;
        color: rgb(176, 115, 233);
    }

    .slack {
        opacity: 0;
    }

    .text4 {
        font-size: 1.5rem;
    }

    .footer1 {
        height: 400px;
        width: 80%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        text-align: center;
        background-color: blueviolet;
        border-radius: 30px;
        font-size: 1.5rem;
    }

    .employees {
        width: 100%;
        margin-left: 0%;
        display: flex;
        align-items: center;
        text-align: center;
        align-content: center;
        color: white;
        padding-top: 20px;
    }

    .icons {
        width: 100%;
        height: 300px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        align-content: center;
        text-align: center;


    }

    .icon_go {
        height: 60px;
        width: 60%;
        border: 1px solid black;
        background-color: white;
        border-radius: 20px;
    }

    .fa-google-play {
        height: 50px;
        width: 50px;
        font-size: 3rem;
        color: red;
    }

    .goplay {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: center;
        justify-content: end;


    }

    .getiton {
        font-size: 1rem;
        color: rgb(116, 103, 88);
    }

    .googleplay {
        font-size: 1.3rem;
    }

    .icon_app {
        height: 60px;
        width: 60%;
        border: 1px solid black;
        background-color: white;
        border-radius: 20px;
    }

    .fa-apple {
        height: 50px;
        width: 50px;
        font-size: 3rem;
        color: red;

    }

    .downapp {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: center;
        justify-content: end;
        padding: 5px;
    }

    .down1 {
        font-size: 1rem;
        color: rgb(116, 103, 88);
    }

    .appstore {
        font-size: 1.5rem;
    }

    .footer2 {
        height: 950px;
        width: 100%;
        display: flex;

        background-color: rgb(34, 26, 26);
    }

    .footer_main {
        height: 900px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    }

    .company {
        color: white;
        padding-top: 50px;

    }

    .com2 {

        font-size: 0.8rem;
    }

    .com1 {
        font-size: 1.8rem;
    }

    .suport {
        color: white;

    }

    .legel {
        color: white;

    }

    .install {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        color: white;

    }

    .icon3 {
        height: 70px;
        width: 200px;
        border: 1px solid rgb(236, 217, 217);
        border-radius: 10px;
    }

    #play2 {
        height: 50px;
        width: 50px;
        font-size: 3.5rem;
        padding-top: 6px;
        padding-left: 10px;
        color: rgb(226, 204, 204);
    }

    .gopla {
        /* margin-top: -25%;
            margin-left: 30%; */
        padding: 10px;
    }

    .getiton1 {
        font-size: 0.6rem;
    }

    .googleplay1 {
        font-size: 1.2rem;
    }

    .icon4 {
        height: 70px;
        width: 200px;
        border: 1px solid rgb(223, 171, 171);
        border-radius: 10px;
    }

    #apple2 {
        height: 50px;
        width: 50px;
        font-size: 3.5rem;
        padding-top: 2px;
        padding-left: 10px;
        color: rgb(226, 204, 204)
    }

    .down {
        margin-top: -25%;
        margin-left: 30%;
        padding: 10px;
        color: white;
    }

    .down3 {
        font-size: 0.6rem;
    }

    .appstore1 {
        font-size: 1.2rem;
    }

    .bottom {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    h2 {
        font-size: 1.8rem;
    }

    h3 {
        color: beige;
        font-size: 1.2rem;
    }

    .footerhr {
        width: 100%;
        color: white;
    }

    .allright {
        color: rgb(248, 236, 236);
    }

    .twitter {
        color: rgb(240, 228, 228);
        font-size: 1rem;
        opacity: 0;

    }


}

@media screen and (max-width:400px) {

    .menu {
        opacity: 1;
        display: flex;
        align-items: center;
        align-content: center;
        margin-bottom: 20%;
        margin-left: -200px;
        margin-right: 500px;
    }

    #teamflo {
        display: flex;
        align-items: center;
        align-content: center;
        margin-bottom: 20%;

        margin-right: -200px;
    }

    .headercontant {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        text-align: center;
    }

    .text1 {
        font-size: 1.1rem;
        text-align: center;
        width: 55%;
        margin-top: 200px;
    }

    .text2 {
        text-align: center;
        font-size: 1.5rem;
        width: 50%;

    }

    .input {
        display: flex;
        justify-content: center;
        flex-direction: column;
        row-gap: 30px;
        margin-top: 40px;

    }

    .ul2 a {
        text-decoration: none;
        text-align: center;
        font-size: 1.2rem;
        display: flex;
        overflow: hidden;
        color: rgb(176, 115, 233);
    }

    .yourcompany {
        height: 50px;
        width: 250px;
        font-size: 1.5rem;
        padding: 10px;
        border-radius: 10px;

    }

    .tryit {
        width: 250px;
        height: 50px;
        font-size: 1.5rem;
        border-radius: 10px;
        color: white;
        background-color: blueviolet;

    }

    .icon_go {
        height: 60px;
        width: 70%;
        border: 1px solid black;
        background-color: white;
        border-radius: 20px;
    }

    .icon_app {
        height: 60px;
        width: 70%;
        border: 1px solid black;
        background-color: white;
        border-radius: 20px;
    }

    .footer2 {
        height: 950px;
        width: 100%;
        display: flex;

        background-color: rgb(34, 26, 26);
    }

    .footer_main {
        height: 900px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    }

    .company {
        color: white;
        padding-top: 50px;

    }

    .com2 {

        font-size: 0.8rem;
    }

    .com1 {
        font-size: 1.8rem;
    }

    .suport {
        color: white;

    }

    .legel {
        color: white;

    }

    .install {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        color: white;

    }

    .icon3 {
        height: 70px;
        width: 200px;
        border: 1px solid rgb(236, 217, 217);
        border-radius: 10px;
    }

    #play2 {
        height: 50px;
        width: 50px;
        font-size: 3.5rem;
        padding-top: 6px;
        padding-left: 10px;
        color: rgb(226, 204, 204);
    }

    .gopla {

        padding: 10px;
    }

    .getiton1 {
        font-size: 0.6rem;
    }

    .googleplay1 {
        font-size: 1.2rem;
    }

    .icon4 {
        height: 70px;
        width: 200px;
        border: 1px solid rgb(223, 171, 171);
        border-radius: 10px;
    }

    #apple2 {
        height: 50px;
        width: 50px;
        font-size: 3.5rem;
        padding-top: 2px;
        padding-left: 10px;
        color: rgb(226, 204, 204)
    }

    .down {
        margin-top: -25%;
        margin-left: 30%;
        padding: 10px;
        color: white;
    }

    .down3 {
        font-size: 0.6rem;
    }

    .appstore1 {
        font-size: 1.2rem;
    }

    .bottom {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    h2 {
        font-size: 1.8rem;
    }

    h3 {
        color: beige;
        font-size: 1.2rem;
    }

    .footerhr {
        width: 100%;
        color: white;
    }

    .allright {
        color: rgb(248, 236, 236);
    }

    .twitter {
        color: rgb(240, 228, 228);
        font-size: 0.5rem;
        opacity: 0;

    }

}